
#banner-text p {z-index:20; position:absolute;}

#welcome p  { 
					position: absolute;
					color:#3A9BCB;
					font-size: 45px;
					font-family: "CopperplateGothic-Bold";
					font-weight: bold;
					text-shadow:  2px 2px 2px 2px rgba(155, 220, 255, 1);
					

					margin:30px 0 0 200px;
}


#welcome p::first-letter { 
    font-size: 125%;
    }

#welcome-text { position:absolute;
		margin:-50px 0 0 -10px;
} 


#navi { 
position:absolute;
		float:right;
		margin:-500px 0 0 680px;
		}
		
#navi button	{  	
    				background: radial-gradient(#3D76BE, #06121F); 
    				display:block;
					box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .75);	    				
					width:300px;
					height:60px;
					font-family:"Copperplate Gothic Bold";
					font-size:17px;
					color:#FAFAFA;
					border-radius: 6px;
					margin: 25px ;
}


#navi button::first-letter { 
    font-size: 125%;
    }

#welcome-text-p  { 
 					position: absolute;
					width:650px;
					font-size: 18px;
					color: #FFFFFF;
					font-family: "Microsoft Sans Serif";
					margin:160px 0 0 40px;	
}

#welcome-text-p-link  { 
 					color:#02B9EB;			
}



#show-imagebutton::first-letter { 
    font-size: 125%;
    }
