
#welcome {	position: absolute; width:500px; margin:-40px 0 0 300px; }

#welcome p  { 
					position: absolute;
					color:#3A9BCB;
					font-size: 45px;
					font-family: "CopperplateGothic-Bold";
					font-weight: bold;
					text-shadow:  2px 2px 2px 2px rgba(155, 220, 255, 1);

}

#welcome p::first-letter { 
    font-size: 125%;
    }



#welcome-text  {   
					position: absolute;
					margin:110px 0 0 40px;
					width:602px;
					height:386px;
					-webkit-box-shadow:0 0 20px #B7E0EE; 
					-moz-box-shadow: 0 0 20px #B7E0EE; 
					box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
					border-radius: 6px;	
}


#button_11  {position: absolute; margin:0 0 0 0; }
#button_12  {position: absolute; margin:0 0 0 320px; }
#button_13  {position: absolute; margin:0 0 0 640px; }
#button_21  {position: absolute; margin:90px 0 0 0; }
#button_22  {position: absolute; margin:90px 0 0 320px; }
#button_23  {position: absolute; margin:90px 0 0 640px; }
#button_31  {position: absolute; margin:180px 0 0 0; }
#button_32  {position: absolute; margin:180px 0 0 320px; }
#button_33  {position: absolute; margin:180px 0 0 640px; }
#button_41  {position: absolute; margin:270px 0 0 0; }
#button_42  {position: absolute; margin:270px 0 0 320px; }
#button_43  {position: absolute; margin:270px 0 0 640px; }
#button_51  {position: absolute; margin:360px 0 0 0; }
#button_52  {position: absolute; margin:360px 0 0 320px; }
#button_53  {position: absolute; margin:360px 0 0 640px; }
#button_61  {position: absolute; margin:450px 0 0 0; }
#button_62  {position: absolute; margin:450px 0 0 320px; }
#button_63  {position: absolute; margin:450px 0 0 640px; }






#welcome-text img {margin:0 0 0 0px;}

#navi { 
		position: absolute;
		width:600px;
		margin:80px 0 0 50px;
		}
		
#navi button	{  	
    				background: radial-gradient(#3D76BE, #06121F); 
    				display:block;
					box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .75);	    				
					width:280px;
					height:50px;
					border-radius: 6px;
}


.judge_name { font-family:"Copperplate Gothic Bold";
					font-size:16px;
					color:#FAFAFA;
				}


.district_name { font-family:"Copperplate Gothic Bold";
					font-size:11px;
					color:#FAFAFA;
				}


#navi button::first-letter { 
    font-size: 125%;
    }

#navi span::first-letter { 
    font-size: 125%;
    }



#welcome-text button	{  	
					position: absolute;
    				background: radial-gradient(#3D76BE, #06121F); 
					box-shadow: 0px 0px 10px 5px rgba(255, 255, 190, .75);    				
					width:220px;
					height:50px;
					font-family:"Copperplate Gothic Bold";
					font-size:14px;
					color:#FAFAFA;
					border-radius: 6px;
					margin:410px 0 0 280px;
	}

#show-imagebutton::first-letter { 
    font-size: 125%;
    }



