/* Legend Color */



/* Reset */




/* Global */

html 		{		}

body 		{background:white; } 


/* Container */

#wrapper	{ width:1024px; height:760px; margin: 0px auto; background-color: white; }

#torch-background { height:100%;
					width:100%;
					background-color:#3D76BE;
    background: -webkit-linear-gradient(90deg, #3D76BE, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, #3D76BE, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, #3D76BE, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, #3D76BE, black); /* Standard syntax (must be last) */
}
					}
					
#torch-background img {	
					position:relative;
					opacity: 0.02;
					padding:2px 0px 0px 0px;
					}
					


#banner		{ 	background-color:#648FAD;  
				width:100%; 
				height:67px;
				border-bottom: 10px #83B0C5 solid;
				}

#banner	img	{margin:0 0 0 5px; float:left;}

#banner	p	{	font-size:96px; 
				color:blue;
				font-family:"Edwardian Script ITC"; 
				font-weight: bold; 
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
				line-height: 96%;
				-webkit-animation-timing-function: cubic-bezier(0,0,1,1);	}

#sub-banner	{
			position:absolute;
			font-size:96px; 
				color:#3A9BCB;
				font-family:"Edwardian Script ITC"; 
				font-weight: bold; 
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
				line-height: 96%;
				top: 77px;
    left: 400px;

 } 

#sub-banner	p	{ position:absolute;
				height:100%;
					width:100%;

				}
	

				
#content	{ 
			}
			
#right-nav	{ }

#bottom		{ }